/* You can add global styles to this file, and also import other style files */
body{
    color: black;
    background: linear-gradient(45deg, #ff99bb, #8b8bff);}

    button:hover{
        background-color: #8b8b8b;
    }